<!DOCTYPE html>
<html lang="es">
  <head>
    <style>
      .fondo-semi-transparente {
          background-color: rgba(0, 0, 0, 0.8); /* Color negro semi-transparente */
          padding: 10px; /* Espacio alrededor del texto */
          color: white; /* Color del texto */
      }
  </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
  </head>
  <style>
    body {
        background-image: url('{{ url_for("static", filename="resultados.jpg") }}');
        background-size: cover;
    }
    </style>
  
  <body>
    <div class="fondo-semi-transparente">
      <h2 style="text-align:center;">Resultados históricos</h2>
      <pre style="font-size:150%;">{{ texto }}</pre>
    </div>
    <form action="{{url_for('inicio') }}" method="POST">
      <button style="text-align:center;" background-color=#007bff style="margin: 10px" id="btn1" class="button">Volver</button>
   </form> 
   <form action="{{url_for('graficas_juego') }}" method="POST">
      <button style="text-align:center;" background-color=#007bff style="margin: 10px" id="btn1" class="button">Ver graficas</button>
   </form> 
  </body>

        
</html>